@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PollerOne";
  src: url("/fonts/PollerOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #fbfaf0;
  --color-pink: #be7c79;
  --color-orange: #f18922;
  --color-blue: #55b6a9;
  --color-dgrey: #26241d;

  /*Typografi */
  --font-hero: "PollerOne", cursive;
  --font-display: "Honk", monospace;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Domine", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
