---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Hero from "../components/Hero.astro";
---

<!-- *************************************************************************************************************************************
*******************************************farver fjernes fra grids når alt er på plads********************************************** 
 *****************************************************************************************************************************************-->
<MainLayout title="InstantDay">
  <Hero> <div></div></Hero>
  <!-- _________________________________________________hero sektion_________________________________________________ -->
  <!-- calc(100vh - 10vh);" skal justeres efter headers højde -->
  <section
    class="section_hero grid bg-red-300"
    style="min-height: calc(100vh - 10vh);"
  >
    <div class="flex flex-col items-center justify-center gap-[auto] shrink-0s">
      <Heading htmheading="h1" class="text-lg">InstantDay 2025</Heading>
      <!-- timer indsættes -->
      <Link href="#" variant="textlink">Rust</Link>
    </div>
  </section>
  <!-- _________________________________________________section_what_is_________________________________________________ -->
  <section class="section_what_is bg-blue-300">
    <Heading htmheading="h2" class="text-lg">What is instant day?</Heading>
  </section>
  <!-- _________________________________________________section_why_instant_________________________________________________ -->
  <section class="section_why_instant bg-yellow-300">
    <Heading htmheading="h2" class="text-lg">Why instant photos?</Heading>
  </section>
  <!-- _________________________________________________section_how_to_________________________________________________ -->
  <section class="section_how_to bg-green-300">
    <Heading htmheading="h2" class="text-lg">How to participate</Heading>
  </section>
  <!-- _________________________________________________section_inspiration_________________________________________________ -->
  <section class="section_inspiration bg-orange-300">
    <Heading htmheading="h2" class="text-lg">inspiration</Heading>
  </section>
  <!-- _________________________________________________share_________________________________________________ -->
  <section class="share bg-purple-300">
    <Heading htmheading="h2" class="text-lg">Share</Heading>
  </section>
</MainLayout>
