---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
// import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Hero from "../components/Hero.astro";
---

<!-- *************************************************************************************************************************************
*******************************************farver fjernes fra grids når alt er på plads********************************************** 
 *****************************************************************************************************************************************-->
<MainLayout title="InstantDay">
  <!-- _________________________________________________herosektion_________________________________________________ -->
  <Hero />
  <!--_________________________________________________section_what_is_________________________________________________ -->
  <section class="section_what_is grid grid-cols-4 auto-rows-auto mt-20 mb-20">
    <div
      class="grid col-span-4 col-start-1 place-self-center mx-[20px] md:mx-[100px]mx-[20px]"
    >
      <Heading htmheading="h2" class="text-lg">What is instant day?</Heading>

      <Text
        >October 18 is Instant Day - a day all about celebrating instant
        photography. So get out your Polaroid, Instax or whatever instant
        photography camera you are using, and show us your instants. Instant Day
        isn't really a photo competition, it's more a homage to good old
        analogue, instant photography - everybody who participates are
        winners:-) But: We do have a nice prize for one lucky instant
        photographer!</Text
      >
    </div>
    <!-- --- -->
    <div class="col-span-4 grid grid-cols-1">
      <div class="col-span-4 grid grid-cols-4 mx-[20px] md:mx-[100px]mx-[20px]">
        <img
          src="/images/02-amager-forbraending.webp"
          alt="Amager Forbrænding"
          class="col-start-3 row-start-1 col-span-2 row-span-3 z-20 w-full shadow-lg"
        />
        <img
          src="/images/04-burger-king.webp"
          alt="Burger King"
          class="col-start-1 row-start-3 col-span-3 row-span-2 z-10 w-full shadow-lg"
        />
      </div>
      <div class="grid row-span-2 align-self-center gap-3">
        <div class="h-3 md:h-6 w-full bg-orange"></div>
        <div class="h-3 md:h-6 w-full bg-blue"></div>
        <div class="h-3 md:h-6 w-full bg-black"></div>
        <div class="h-3 md:h-6 w-full bg-pink"></div>
      </div>
    </div>
  </section>
</MainLayout>
<!-- _________________________________________________section_why_instant_________________________________________________ -->
<section class="section_why_instant bg-yellow-300 grid">
  <Heading htmheading="h2" class="text-lg">Why instant photos?</Heading>
  <Text
    >Instant Photography is a testament to life: It all started back in the
    1940's with a 3 year old kid. She wanted to see her fathers images right
    away. The father, Edwin Land, embarked on a mission: To invent instant
    photography. Half a decade later, Edwin Land launched Instant photography
    and established the Polaroid brand.
  </Text>
  <Text
    >Instant photography turned into big business in the 70's and 80's, until
    the digital era almost killed the industry. The massive amount of time
    wasted on the small screens have spurred a counterreaction: Analogue,
    off-line experiences have become popular again. And instant photography is
    just that: An analogue, life-affirming and tactile photography experience.
    So let's celebrate life, and make memories:-)
  </Text>
</section>
<!-- _________________________________________________section_how_to_________________________________________________ -->
<section class="section_how_to bg-green-300">
  <Heading htmheading="h2" class="text-lg">How to participate</Heading>
</section>
<!-- _________________________________________________section_inspiration_________________________________________________ -->
<section class="section_inspiration bg-orange-300">
  <Heading htmheading="h2" class="text-lg">inspiration</Heading>
</section>
<!-- _________________________________________________share_________________________________________________ -->
<section class="share bg-purple-300">
  <Heading htmheading="h2" class="text-lg">Share</Heading>
</section>
