---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";

import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Judges from "../components/judges.astro";
---

<MainLayout title="Information">
  <div class="relative">
    <!-- Vertical lines -->
    <div class="absolute right-2 md:right-6 top-0 w-4 md:w-8 h-full bg-blue"></div>
    <div class="absolute right-8 md:right-20 top-0 w-4 md:w-8 h-full bg-black"></div>
    <div class="absolute right-14 md:right-34 top-0 w-4 md:w-8 h-full bg-pink"></div>
    <div class="absolute right-20 md:right-48 top-0 w-4 md:w-8 h-full bg-orange"></div>

    <!-- Content -->
    <div class="relative z-10">
      
      <!-- Who are we? section -->
      <section class="grid grid-cols-4 md:grid-cols-12 mx-[20px] md:mx-[100px] ">
        <Heading size="h1" font="header" stylingclasses="mt-30 col-span-3 md:col-span-6">Who are we?</Heading>
        <img class="col-start-4 md:col-start-8 col-span-1 md:col-span-3 w-full h-70 md:mt-10 row-start-2" src="/images/info.svg" alt="tegning der tænker">
        <div class="col-start-1 col-span-3 md:col-span-7 intersect:animate-fade-right intersect:animate-delay-200">
          <Text teksttype="brødtekst">Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen. Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.</Text>
        </div>
      </section>
      
      <!-- Horizontal line -->
      <div class="w-50 md:w-300 h-4 md:h-8 bg-orange my-8 o"></div>

      <!-- Rest of your sections -->
      <!-- _________________________________________________The judges_section_________________________________________________ -->
      <section class="md:my-40 relative overflow-hidden grid grid-cols-4 md:grid-cols-12 md:mx-[100px] mx-[20px]">
        <div class="relative z-20 col-span-4 md:col-span-6 md:col-start-4">
          <Heading size="h2" font="header">The judges</Heading>
          <Text class=" md:text-center" teksttype="brødtekst">Submissions will be reviewed by:</Text>
        </div>

        <div class="relative h-[450px] md:h-[500px] overflow-hidden col-span-4 md:col-span-10 col-start-1 row-start-2">
          <div class="transform scale-50 md:scale-100 origin-center">
            <Judges class="md:mt-20" />
          </div>
        </div>

        <div class="relative z-20 col-span-3 md:col-span-7 md:ml-0 row-start-3">
          <ul class="space-y-2 pl-6 md:pl-2 mt-10 md:mt-20 intersect:animate-fade-right intersect:animate-delay-200">
            <li>
              <Text teksttype="brødtekst">Jonas Hasle (Assistant lecturer, Multimedia Design programme at EK)</Text>
            </li>
            <li>
              <Text teksttype="brødtekst" >Birgitte Holmboe (Lecturer, Multimedia Design programme at EK)</Text>
            </li>
            <li>
              <Text teksttype="brødtekst" >Anders Braad (Lecturer, Multimedia Design programme at EK)</Text>
            </li>
            <li>
              <Text teksttype="brødtekst">Stefan Grage (Assistant lecturer, Multimedia Design programme at EK)</Text>
            </li>
          </ul>
        </div>
      </section>
      <!-- _________________________________________________The sponsors_section_________________________________________________ -->
      <section class="bg-blue text-primary mt-15 py-10">
        <div class="grid grid-cols-4 md:grid-cols-12 gap-4 mx-[20px] md:mx-[100px]">
          <Heading size="h2" font="header" class=" col-span-4 md:col-span-12">Sponsors</Heading>
          <div class="col-span-4 md:col-span-8 row-start-2">
            <Text teksttype="brødtekst">
              Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. 
              At least so far;-) 
            </Text>
          </div>
          <div class="col-span-4 md:col-span-8 mt-4 row-start-3">
            <a href="https://kea.dk/en" target="_blank" rel="noopener noreferrer">
                <img src="/images/logo.png" alt="KEA - Copenhagen School of Design and Technology Logo">
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>
<style>
  @keyframes slide-in {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  </style>