---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<!-- *************************************************************************************************************************************
*******************************************farver fjernes fra grids når alt er på plads********************************************** 
 *****************************************************************************************************************************************-->
<MainLayout title="Information">
  <Heading htmheading="h1" class="text-lg">Who are we?</Heading>
  <!-- _________________________________________________Who are we? section_________________________________________________ -->
  <section class="bg-red-300"></section>
  <!-- _________________________________________________The judges_section_________________________________________________ -->
  <section class="bg-blue-300">
    <Heading htmheading="h2" class="text-lg">The judges</Heading>
  </section>
  <!-- _________________________________________________The sponsors_section_________________________________________________ -->
  <section class="bg-yellow-300">
    <Heading htmheading="h2" class="text-lg">Sponsors</Heading>
  </section>
</MainLayout>
