---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Formular from "../components/Formular.astro";
---

<MainLayout title="Share Your Instant">
  <!-- How to participate section -->
  <section class="grid grid-cols-4 mx-[20px] md:grid-cols-12 md:mx-[100px] gap-x-10 gap-y-12">
    <Heading 
      size="h1" 
      font="header" 
      stylingclasses="col-span-4 md:col-span-12 mt-10 md:mt-20"
    >
      Share your instant
    </Heading>
    <!-- Step komponent her -->
  </section>

  <!-- Submit section -->
  <section>
    <Formular />
  </section>
</MainLayout>