---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import PhotoGalleri from "../components/PhotoGalleri.astro";

const photos = [
  {
    src: "/images/02-amager-forbraending.webp",
    title: "Amager Forbrænding",
    by: "Stefan Grage",
    description: "I'd give my right arm for a cigarette. Taken with a Lomomatic Square.",
  },
  {
    src: "/images/03-amager-strand.webp",
    title: "Amager Strand",
    by: "Stefan Grage",
    description: "From this angle, Copenhagen looks like a big city. Taken with a Polaroid Now+ gen 2, with a yellow tint filter.",
  },
  {
    src: "/images/04-burger-king.webp",
    title: "Hands off my happy meal!",
    by: "Stefan Grage",
    description:
      "A casual snap from Burger King. As it shows, the youngest kid didn't want to share his happy meal (or whatever kids meal is called in Burger King). Taken with an Instax Mini (can't remember which camera).",
  },
  {
    src: "/images/05-dobbelt-exp-orestad.webp",
    title: "2 x Ørestad",
    by: "Stefan Grage",
    description:
      "A double exposure from my neighbourhood, Ørestad. Taken with a Lomomatic Square.",
  },
  {
    src: "/images/06-loserup-strand.webp",
    title: "Laserup Strand",
    by: "Stefan Grage",
    description:
      "Too cold to take a dip. So I took a photo instead. The polaroid had an awful magenta color cast, but I ended up liking it. Taken with a Polaroid Now+ gen 2 and an i-Type film, which I probably stored incorrectly.",
  },
  {
    src: "/images/07-orestad-sort-hvid.webp",
    title: "New meets old",
    by: "Stefan Grage",
    description:
      "I wanted to catch the new city development district, Ørestad, in a shade of old school. So I used a Polaroid Now+ gen 2 in tripod mode with an i-Type black and white film in order to make a long exposure.",
  },
  {
    src: "/images/08-karlstrup_kalkgrav_kaffe.webp",
    title: "Kastrup & coffee",
    by: "Stefan Grage",
    description:
      "Scene beauty of a former lime pit with a twist of coffee: the polaroid was soaked in coffee for a couple of weeks. That gave it a nice tan.",
  },
  {
    src: "/images/09-amager-strand-nat.webp",
    title: "Amager Strand at night",
    by: "Stefan Grage",
    description:
      "Amager Strand, Copenhagen. Locally referred to as Copenhagen's manhattan. Long exposure. Polaroid Now+ gen 2 in manual mode with an i-Type color film to make a long exposure.",
  },
  {
    src: "/images/10-amager-strand-vandbad.webp",
    title: "Close to the sea",
    by: "Stefan Grage",
    description:
      "Amager Strand is close to the sea. So I wanted to give this polaroid a twist of water: The polaroid soaked for around three weeks in water. I used a Polaroid Now+ gen 2.",
  },
  {
    src: "/images/11-instax-mikro-1.webp",
    title: "Micro adventure 1",
    by: "Stefan Grage",
    description:
      "The beach at my summer house in Læsørup. Expired Instax film. I microwaved it. I should have studied how to microwave an instant image: it caught fire in the oven.",
  },
  {
    src: "/images/12-instax-mikro-2.webp",
    title: "Micro adventure 2",
    by: "Stefan Grage",
    description:
      "The beach at my summer house in Læsørup. Expired Instax film. I microwaved it. I should have studied how to microwave an instant image: it caught fire in the oven.",
  },
  {
    src: "/images/13-amerikaplads_nordhavnen.webp",
    title: "Nordhavn at night",
    by: "Stefan Grage",
    description:
      "Nordhavn, Copenhagen, at night. Long exposure with expired film. I used a Polaroid in manual mode with an i-Type film to make a long exposure.",
  },
];
---

<MainLayout title="Winners & nominees">
  <!-- Winners & Nominees Section -->
  <section id="winners-and-nominees" class="grid grid-cols-4 mx-[20px] md:grid-cols-12 md:mx-[100px] gap-x-10 gap-y-12">
    <div class="col-span-4 md:col-span-12">
      <Heading 
        size="h1" 
        font="header" 
        stylingclasses="mt-10 md:mt-20"
      >
        Winners & Nominees
      </Heading>
    </div>

    <div class="col-start-1 col-end-5 md:col-end-7 md:mt-20 intersect:animate-fade-right intersect:animate-delay-200">
      <Text teksttype="brødtekst" stylingclasses="mt-4">
        Instant Day was quite a success with more than 30.000 contributions. So it was
        difficult to find a winner. After a couple of long but exciting days, the judges
        agreed on the winner and the 12 nominees.
      </Text>
    </div>

    <div class="col-span-4 md:col-span-6 flex justify-center md:justify-end">
      <img 
        src="/images/you-won.svg"
        alt="you won figur"
        class="w-full max-w-[260px] md:max-w-[340px]" 
      />
    </div>
  </section>

  <!-- Winner Section -->
  <section class="grid grid-cols-4 mx-[20px] md:grid-cols-12 md:mx-[100px] gap-x-10 gap-y-12 mt-10">
    <div class="col-span-4 md:col-span-6 md:col-start-7 order-1 md:order-2">
      <Heading size="h2" font="header" stylingclasses="mb-10">The Winner</Heading>
      <Text teksttype="brødtekst" stylingclasses="font-bold intersect:animate-fade-right intersect:animate-delay-200">
        Amager Fælled
      </Text>
      <Text teksttype="brødtekst" stylingclasses="underline -mb-2 intersect:animate-fade-right intersect:animate-delay-300">
        Stefan Grage
      </Text>
      <Text teksttype="brødtekst" stylingclasses="intersect:animate-fade-right intersect:animate-delay-400">
        A little snap from Amager Fælled, a large common in the southwestern part of Copenhagen,
        Denmark. Taken with a Lomomatic Square.
      </Text>
    </div>

    <div class="col-span-4 md:col-span-5 md:col-start-1 order-2 md:order-1 flex justify-center md:justify-start">
      <img 
        src="/images/01-amager-faelled.webp" 
        alt="Amager Fælled" 
        class="w-[60%] md:w-full object-contain"
      />
    </div>
  </section>

  <!-- Decorative Lines -->
  <section class="flex flex-col gap-3 mb-4 md:mb-10">
    <div class="h-3 md:h-6 bg-orange ml-auto w-3/7"></div>
    <div class="h-3 md:h-6 bg-blue ml-auto w-2/6"></div>
    <div class="h-3 md:h-6 bg-black ml-auto w-3/6"></div>
    <div class="h-3 md:h-6 bg-pink ml-auto w-[98%]"></div>
  </section>

  <!-- Nominees Section -->
  <section class="grid bg-[var(--color-dgrey)] p-[20px] md:p-[100px]">
    <Heading htmlheading="h3" font="header" stylingclasses=" pb-6 text-[var(--color-primary)]">
      Best of 2025 - nominees
    </Heading>
  
    <PhotoGalleri photos={photos} />
  </section>

  <!-- Bottom Decorative Lines -->
  <div class="grid grid-cols-12 gap-3 bg-[var(--color-dgrey)]">
    <div class="h-3 md:h-6 col-span-6 bg-orange"></div>
    <div class="h-3 md:h-6 col-span-9 bg-blue"></div>
    <div class="h-3 md:h-6 col-span-5 bg-pink"></div>
  </div>
</MainLayout>