---
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<div class="flex flex-col gap-6">
  <!-- Dan Isaac Wallin -->
  <div class="bg-orange p-4">
    <div
      id="toggle-dan"
      class="flex md:px-[100px] px-[20px] justify-between items-center cursor-pointer select-none text-white"
    >
      <Heading
        htmheading="h3"
        class="text-lg text-white"
        stylingclasses="intersect:animate-fade-right intersect:animate-duration-[900ms]"
        >Dan Isaac Wallin</Heading
      >
      <span
        id="arrow-dan"
        class="transition-transform duration-300 ease-in-out"
      >
        <img src="/images/arrow.svg" alt="" />
      </span>
    </div>

    <div
      id="content-dan"
      class="max-w-300 hidden transition-all duration-500 ease-in-out overflow-hidden animate-flip-down animate-ease-out"
    >
      <Text class="text-white" stylingclasses=" md:mx-[100px] mx-[20px]">
        Dan Isaac Wallin is a Swedish art photographer, who uses large format
        and vintage Polaroid cameras for his work. His work hangs in numerous
        houses as posters.
        <a
          href="https://www.danisaacwallin.com/"
          target="_blank"
          class="underline">danisaacwallin.com</a
        >
      </Text>
    </div>
  </div>

  <!-- Mette Kelter -->
  <div class="bg-dgrey p-4">
    <div
      id="toggle-mette"
      class="flex md:px-[100px] px-[20px] justify-between items-center cursor-pointer select-none text-white"
    >
      <Heading
        htmheading="h3"
        class="text-lg text-white"
        stylingclasses="intersect:animate-fade-right intersect:animate-duration-[1000ms]"
        >Mette Kelter?</Heading
      >
      <span
        id="arrow-mette"
        class="transition-transform duration-300 ease-in-out"
      >
        <img src="/images/arrow.svg" alt="" />
      </span>
    </div>

    <div
      id="content-mette"
      class="max-w-300 hidden transition-all duration-500 ease-in-out overflow-hidden text-white animate-flip-down animate-ease-out"
    >
      <Text class="text-white" stylingclasses=" md:mx-[100px] mx-[20px]">
        Mette Kelter is a Danish art photographer, who often experiments with
        deliberate destruction of the chemical process in instant photos. One of
        the key words here is unpredictability in the work process, which leads
        to interesting and unique artworks.
        <a
          href="https://www.kelterphotography.com/"
          target="_blank"
          class="underline text-white">kelterphotography.com</a
        >
      </Text>
    </div>
  </div>

  <!-- Maripol -->
  <div class="bg-pink p-4">
    <div
      id="toggle-maripol"
      class="flex md:px-[100px] px-[20px] justify-between items-center cursor-pointer select-none text-white"
    >
      <Heading
        htmheading="h3"
        class="text-lg text-white"
        stylingclasses="intersect:animate-fade-right intersect:animate-duration-[1100ms]"
        >Maripol</Heading
      >
      <span
        id="arrow-maripol"
        class="transition-transform duration-300 ease-in-out"
      >
        <img src="/images/arrow.svg" alt="" />
      </span>
    </div>

    <div
      id="content-maripol"
      class="max-w-300 hidden transition-all duration-500 ease-in-out overflow-hidden text-white animate-flip-down animate-ease-out"
    >
      <Text class="text-white" stylingclasses=" md:mx-[100px] mx-[20px]">
        Maripol is a French artist, photographer, and film producer. Her claim
        to fame was in the 1980s, where she photographed famous people with a
        Polaroid SX-70. Her photographs are still very influential in the
        fashion industry.
        <a
          href="https://en.wikipedia.org/wiki/Maripol"
          target="_blank"
          class="underline text-white">Wikipedia</a
        >
      </Text>
    </div>
  </div>

  <!-- Polaroid collection -->
  <div class="bg-blue p-4">
    <div
      id="toggle-polaroid"
      class="flex md:px-[100px] px-[20px] justify-between items-center cursor-pointer select-none text-white"
    >
      <Heading
        htmheading="h3"
        class="text-lg text-white"
        stylingclasses="intersect:animate-fade-right intersect:animate-duration-[1200ms]"
        >The Polaroid collection</Heading
      >
      <span
        id="arrow-polaroid"
        class="transition-transform duration-300 ease-in-out"
      >
        <img src="/images/arrow.svg" alt="" />
      </span>
    </div>

    <div
      id="content-polaroid"
      class="max-w-300 hidden transition-all duration-500 ease-in-out overflow-hidden text-white animate-flip-down animate-ease-out"
    >
      <Text
        class="text-white"
        stylingclasses=" md:mx-[100px] mx-[20px] max-w-200px"
      >
        The Polaroid collection was a large collection of instant photographs
        assembled by the Polaroid corporation and featured work from a lot of
        famous photographers. The collection was split into various parts and
        put on auction when the Polaroid corporation went into bankruptcy in
        2008. Luckily, you can find books with photographs from the collection,
        for instance <em>The Polaroid Book</em> by Steve Crist and Barbara Hitchcock.
      </Text>
      <Link
        href="https://www.taschen.com/en/books/photography/40752/the-polaroid-book-45th-ed/"
        text="The Polaroid Book (Taschen)"
        class="underline text-white"
      />
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggles = [
      { toggle: "toggle-dan", content: "content-dan", arrow: "arrow-dan" },
      {
        toggle: "toggle-mette",
        content: "content-mette",
        arrow: "arrow-mette",
      },
      {
        toggle: "toggle-maripol",
        content: "content-maripol",
        arrow: "arrow-maripol",
      },
      {
        toggle: "toggle-polaroid",
        content: "content-polaroid",
        arrow: "arrow-polaroid",
      },
    ];

    toggles.forEach(({ toggle, content, arrow }) => {
      const header = document.getElementById(toggle);
      const body = document.getElementById(content);
      const arrowEl = document.getElementById(arrow);

      if (header && body && arrowEl) {
        header.addEventListener("click", () => {
          body.classList.toggle("hidden");
          arrowEl.classList.toggle("rotate-180");
        });
      }
    });
  });
</script>
