---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  x-data="{ showmenu: false, scrolled: false }"
  x-on:scroll.window="scrolled = (window.scrollY > 50)"
  :class="scrolled ? 'bg-orange sticky top-0 z-100 py-2' : 'bg-orange sticky top-0 z-100 py-4'"
  class="transition-all duration-300"
>
  <div
    id="navbar"
    class="container mx-auto flex flex-row justify-between items-center"
  >
    <div class="flex items-center gap-4">
      <!-- Logo linking to index -->
      <a
        href="/"
        id="logo"
        :class="scrolled ? 'h-12' : 'h-20'"
        class="transition-all duration-300"
      >
        <img
          src="/images/Logo_black.svg"
          alt="Instant Day logo"
          class="w-auto h-full"
        />
      </a>
      <div
        :class="scrolled ? 'h-12' : 'h-20'"
        class="transition-all duration-300"
      >
        <img
          src="/images/figur.svg"
          alt="Instant Day logo"
          class="w-auto h-full"
        />
      </div>
    </div>

    <!-- Desktop menu -->
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <li>
          <a href="/" class={currentPath === "" ? "italic font-bold" : "italic"}
            >Forside</a
          >
        </li>
        <li>
          <a
            href="/komponentbibliotek/"
            class={currentPath === "komponentbibliotek/"
              ? "italic font-bold"
              : "italic"}>Komponentbibliotek</a
          >
        </li>
        <li>
          <a
            href="/winners&nominees/"
            class={currentPath === "winners&nominees/"
              ? "italic font-bold"
              : "italic"}>Winners & Nominees</a
          >
        </li>
        <li>
          <a
            href="/shareyourinstant/"
            class={currentPath === "shareyourinstant/"
              ? "italic font-bold"
              : "italic"}>Share Your Instant</a
          >
        </li>
        <li>
          <a
            href="/info/"
            class={currentPath === "info/" ? "italic font-bold" : "italic"}
            >Info</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile burger menu button -->
    <button
      id="burgermenu"
      class="lg:hidden"
      x-on:click="showmenu = ! showmenu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <nav
    id="mobilmenu"
    class="flex flex-col content-center"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="border-t-2 border-b-2 border-black">
      <li class="text-center py-2">
        <a href="/" class={currentPath === "" ? "italic font-bold" : "italic"}
          >Forside</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/komponentbibliotek/"
          class={currentPath === "komponentbibliotek/"
            ? "italic font-bold"
            : "italic"}>Komponentbibliotek</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/winners&nominees/"
          class={currentPath === "winners&nominees/"
            ? "italic font-bold"
            : "italic"}>Winners & Nominees</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/shareyourinstant/"
          class={currentPath === "shareyourinstant/"
            ? "italic font-bold"
            : "italic"}>Share Your Instant</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/info/"
          class={currentPath === "info/" ? "italic font-bold" : "italic"}
          >Info</a
        >
      </li>
    </ul>
  </nav>
</header>
