---
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import FlipClock from "./FlipClock.astro";
const launch = "2025-10-18 08:00";
---

<section
  class="bg-[url(https://placehold.co/600x400)] place-content-center grid"
  style="min-height: calc(100vh - 20vh);"
>
  <div
    class="grid grid-cols-4 auto-rows-auto gap-8s grid-rows-[min-content] text-center"
  >
    <Heading htmheading="h1" size="hero" font="hero"
      >InstantDay <br /> 2025</Heading
    >
    <div class="col-span-4"><FlipClock target={launch} /></div>
    
    <div class="col-span-4 col-start-1 place-self-center mt-2">
      <Link variant="primary" href="/shareyourinstant/">Share your instant</Link
      >
    </div>

    <!-- ------------------- -->
  </div>
  <img src="/images/hero_figure.svg" alt="" />
</section>
