---
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import FlipClock from "./FlipClock.astro";
const launch = "2025-10-18 08:00";
---

<section
  class="bg-[url('/images/instant_hero_photo.webp')] bg-cover bg-center place-content-center grid"
  style="min-height: calc(100vh - 20vh);"
>
  <div
    class="grid grid-cols-10 auto-rows-auto grid-rows-[min-content] text-center w-fill"
  >
    <Heading
      htmlheading="h1"
      size="hero"
      font="header"
      stylingclasses="text-center text-orange text-balance text-center col-span-10 row-start-1 col-start-1 intersect:animate-fade intersect:animate-delay-100 text-shadow-lg place-self-buttom-center"
      >InstantDay <br /> 2025</Heading
    >
    <div class="col-start-4 col-span-4"><FlipClock target={launch} /></div>

    <div class="col-start-4 col-span-4 col-start- place-self-top mt-2">
      <Link variant="primary" size="large" href="/shareyourinstant/"
        >Share your instant</Link
      >
    </div>
    <img
      class="col-start-8 col-span-2 row-start-2 row-span-2 pl-20"
      src="/images/hero_figure.svg"
      alt="drawing of the maskot hodling up a sign saying 18th october"
    />
    <!-- ------------------- -->
  </div>
</section>
