---
import Instantphoto from "./instantphoto.astro";
---

<section class="relative w-fit mx-auto mt-10 h-[400px] flex items-center justify-center">
  <div class="absolute -rotate-6 animate-slideInLeft">
    <Instantphoto photo="/images/jonas.png" navn="Jonas" />
  </div>

  <div class="absolute -rotate-2 animate-slideInBottom">
    <Instantphoto photo="/images/birgitte.png" navn="Birgitte" />
  </div>

  <div class="absolute rotate-4 animate-slideInRight">
    <Instantphoto photo="/images/anders.png" navn="Anders" />
  </div>

  <div class="absolute rotate-2 animate-slideInTop">
    <Instantphoto photo="/images/stefan.png" navn="Stefan" />
  </div>
</section>

<style>
  @keyframes slideInLeft {
      0% { transform: translateX(-200%) rotate(0); opacity: 0; }
      20% { transform: translateX(0) rotate(-6deg); opacity: 1; }
      70% { transform: translateX(0) rotate(-6deg); opacity: 1; }
      90% { transform: translateX(-200%) rotate(0); opacity: 0; }
      100% { transform: translateX(-200%) rotate(0); opacity: 0; }
  }
  @keyframes slideInRight {
      0% { transform: translateX(200%) rotate(0); opacity: 0; }
      20% { transform: translateX(0) rotate(4deg); opacity: 1; }
      70% { transform: translateX(0) rotate(4deg); opacity: 1; }
      90% { transform: translateX(200%) rotate(0); opacity: 0; }
      100% { transform: translateX(200%) rotate(0); opacity: 0; }
  }
  @keyframes slideInTop {
      0% { transform: translateY(-200%) rotate(0); opacity: 0; }
      20% { transform: translateY(0) rotate(2deg); opacity: 1; }
      70% { transform: translateY(0) rotate(2deg); opacity: 1; }
      90% { transform: translateY(-200%) rotate(0); opacity: 0; }
      100% { transform: translateY(-200%) rotate(0); opacity: 0; }
  }
  @keyframes slideInBottom {
      0% { transform: translateY(200%) rotate(0); opacity: 0; }
      20% { transform: translateY(0) rotate(-2deg); opacity: 1; }
      70% { transform: translateY(0) rotate(-2deg); opacity: 1; }
      90% { transform: translateY(200%) rotate(0); opacity: 0; }
      100% { transform: translateY(200%) rotate(0); opacity: 0; }
  }

  .animate-slideInLeft {
    animation: slideInLeft 8s infinite;
  }
  .animate-slideInRight {
    animation: slideInRight 8s infinite;
    animation-delay: 0.5s;
  }
  .animate-slideInTop {
    animation: slideInTop 8s infinite;
    animation-delay: 1s;
  }
  .animate-slideInBottom {
    animation: slideInBottom 8s infinite;
    animation-delay: 1.5s;
  }
</style>
