---
import Instantphoto from "./instantphoto.astro";
---

<section class="relative w-fit mx-auto mt-10 h-[400px] flex items-center justify-center">
  <div class="absolute -rotate-6">
    <Instantphoto photo="/images/jonas.png" navn="Jonas" />
  </div>

  <div class="absolute -rotate-2">
    <Instantphoto photo="/images/birgitte.png" navn="Birgitte" />
  </div>

  <div class="absolute rotate-4">
    <Instantphoto photo="/images/anders.png" navn="Anders" />
  </div>

  <div class="absolute rotate-2">
    <Instantphoto photo="/images/stefan.png" navn="Stefan" />
  </div>
</section>
